<div>
    <div class = "form-class-editor">
        <p>
            Choose Class and maybe Subclass to edit.<br>
            Drag and drop items to be automatically gained on level up.
        </p>

        <select id="sel.classes" class="class-list" >
            {{#each classes}}
                <option value="{{value}}" {{isSelected}}>{{label}}</option>
            {{/each}}
        </select>

        <select id="sel.subclasses" class="subclass-list">
            <option value="">---</option>
            {{#each subclasses}}
                <option value="{{value}}" {{isSelected}}>{{label}}</option>
            {{/each}}
        </select>

        <ol class="autolevel-list item-list">
            {{#each levelList as |section|}}
                <li class="level-section item-header" id="class-level-{{section.level}}" >
                <h3>At Level {{section.level}} Gain:</h3>
                <ol class="item-list">
                    {{#each section.features as |feature|}}
                    <li class="flexrow item" data-item-id="{{feature.uuid}}" id="item-{{section.level}}-{{feature.idx}}" >
                        <div class="item-image" style="background-image: url('{{feature.data.img}}')"></div>
                        <div>
                        {{feature.data.name}}
                        </div>
                        <div class="item-controls flexrow">
                        <a class="item-edit" ><i class="fas fa-edit"></i></a>
                        <a class="remove-feature" ><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                </li>
            {{/each}}
        </ol>
    </div>
</div>
