<form>
    <style type="text/css">
        .class-edit-qualifier.item{
          border: 1px solid #c9c7b8;
        }

        .class-edit-qualifier.item-list {
          padding: 0;
          padding-left: 0;
          margin: 0;
          border: 0;
          list-style: none;
        }

        .class-edit-qualifier.item-header {
          list-style: none;
          padding: 0;
          padding-left: 0;
          font-size: 20px;
          text-align: left;
          font-size: 16px;
        }

        .class-edit-qualifier.item-controls {
          flex: 0 0 44px;
          align-items: center;
        }

        .class-edit-qualifier h3 {
          height: 28px;
          font-weight: 700;
          font-family: "Modesto Condensed", "Palatino Linotype", serif;
          margin: 2px 0;
          padding: 5px;
          align-items: center;
          background: rgba(0, 0, 0, 0.05);
          border: 2px groove #eeede0;
          font-weight: bold;
        }

        .class-edit-qualifier.item-image {
          flex: 0 0 30px;
          height: 30px;
          background-size: 30px;
          border: none;
          margin-right: 5px;
        }

    </style>
    <div class = "form-class-editor">
        <p>
            Choose Class and maybe Subclass to edit.<br>
            Drag and drop items to be automatically gained on level up.
        </p>

        <select id="sel.classes" class="class-edit-qualifier class-list class-editor" >
            {{#each classes}}
                <option value="{{value}}" {{isSelected}}>{{label}}</option>
            {{/each}}
        </select>

        <select id="sel.subclasses" class="class-edit-qualifier subclass-list class-editor">
            <option value="">---</option>
            {{#each subclasses}}
                <option value="{{value}}" {{isSelected}}>{{label}}</option>
            {{/each}}
        </select>

        <ol class="class-edit-qualifier autolevel-list item-list">
            {{#each levelList as |section|}}
                <li class="class-edit-qualifier level-section item-header" id="class-level-{{section.level}}" >
                <h3>At Level {{section.level}} Gain:</h3>
                <ol class="class-edit-qualifier item-list">
                    {{#each section.features as |feature|}}
                    <li class="class-edit-qualifier flexrow item" data-item-id="{{feature.uuid}}" id="item-{{section.level}}-{{feature.idx}}" >
                        <div class="class-edit-qualifier item-image" style="background-image: url('{{feature.data.img}}')"></div>
                        <div>
                        {{feature.data.name}}
                        </div>
                        <div class="class-edit-qualifier item-controls flexrow">
                        <a class="item-edit" ><i class="fas fa-edit"></i></a>
                        <a class="remove-feature" ><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                </li>
            {{/each}}
        </ol>
    </div>
</form>
