
.class-edit-qualifier.item{
  border: 1px solid #c9c7b8;
}

.class-edit-qualifier.item-list {
  padding: 0;
  padding-left: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

.class-edit-qualifier.item-header {
  list-style: none;
  padding: 0;
  padding-left: 0;
  font-size: 20px;
  text-align: left;
  font-size: 16px;
}

.class-edit-qualifier.item-controls {
  flex: 0 0 44px;
  align-items: center;
}

.class-edit-qualifier h3 {
  height: 28px;
  font-weight: 700;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  margin: 2px 0;
  padding: 5px;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.class-edit-qualifier.item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
